:root{
  --cor-fundo: linear-gradient(to bottom, #ff9200, #ffc002);
  --cor-cabecalho: #ffcf01;
  --cor-rodapé: #ff8000;
  --cor-tela: #eaeaea;
  --cor-tablet: #333333;
  --cor-botao: #a8c6df;
  --cor-camera: #a8c6df;
  --branco: white;
  --preto: black;
}

body {
  background-image: var(--cor-fundo);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial;
  text-align: center;
  color: var(--branco);
}

header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-cabecalho);
  padding: 15px;
}

header h1 {
  margin: 0;
  padding-left: 20px;
}

header img{
  width: 50px;
  display: block;
}

.img_colmeia{
  width: 70px;
  padding: 0 15px;
}

header div{
  display: flex;
  align-items: center;
}

nav a {
  color: var(--branco);
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
}

#idioma_box {
  display: none;
}

.idioma_botao {
  color: var(--branco);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.idioma_google {
  display: none;
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: var(--branco);
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  margin-top: 20px;
}

#idioma_box:checked ~ .idioma_google {
  display: block;
}

.acessibilidade{
  display:flex;
  gap:10px;
  align-items:center;
}

.fonte-btn,
.tema-btn{
  background-color: var(--branco);
  color: var(--preto);
  border: none;
  padding: 6px 10px;
  margin-left: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.fonte-btn:hover,
.tema-btn:hover{
  background-color: var(--cor-rodapé);
  color: var(--branco);
}

.tema-btn:hover .img_modo-escuro{
    filter: brightness(0) invert(1);
}

.img_modo-escuro{
  width: 20px;
}

h1 {
  margin-top: 20px;
}

.banner{
  text-align: center;
}

.banner img{
  width: 80%;
  height: 500px;
  object-fit: cover;
  object-position: center 70%;
  border-radius: 20px;
}

.tablet {
  width: 700px;
  margin: 30px auto;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.camera {
  width: 20px;
  height: 20px;
  background-color: var(--cor-camera) ;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.tela {
  background-color: var(--cor-tela);
  color: var(--preto);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 800px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

.tela p{
  text-align: justify;
}

.tela img{
  width: 400px;
  border-radius: 20px;
}

.controles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  font-size: 30px;
}

.botao {
  width: 80px;
  height: 15px;
  background-color: var(--cor-botao);
  border-radius: 10px;
}

.tablet_deitado{
  width: 800px;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.camera_tablet_deitado{
  width: 20px;
  height: 20px;
  background-color: var(--cor-camera);
  border-radius: 50%;
  display: block;
}

.tela_deitado{
  background-color: var(--cor-tela);
  color: var(--preto);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 400px;
  height: auto;
  width: 700px;
  overflow-y: auto;
  font-size: 20px;
  align-items: center;
  margin: 0 20px auto;
}

.tela_deitado p{
  font-size: 30px;
}

.tela_deitado img{
  height: 300px;
  border-radius: 30px;
}

.controles_tablet_deitado{
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  font-size: 30px;
}

.botao_tablet_deitado{
  width: 15px;
  height: 80px;
  background-color: var(--cor-botao);
  border-radius: 10px;
}

.tablet_2{
   width: 870px;
  margin: 30px auto;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.tela_2 {
  background-color: var(--cor-tela);
  color: var(--preto);
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 600px;
  height: auto;
  width: 750px;
  font-size: 20px;
  align-items: center;
  display: flex;
}

.tela_2 p{
  text-align: justify;
  padding: 0 20px 0 20px;
  width: 450px;
}

.tela_2 img{
  height: 500px;
  border-radius: 20px;
}

.celulares {
  display: flex;
}

.celular {
  width: 400px;
  margin: 30px auto;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.celular_tela {
  background-color: var(--cor-tela);
  color: var(--preto);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 550px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

.celular_tela p{
  text-align: justify;
}

.celular_tela img{
  width: 300px;
  border-radius: 20px;
}

.tela_3 {
  background-color: var(--cor-tela);
  color: var(--preto);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 800px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

.tela_3 p{
  text-align: justify;
}

.tela_3 img{
  height: 400px;
  width: 300px;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 20px;
}

.tv {
  width: 900px;
  margin: 30px auto;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.tela_tv {
  background-color: var(--cor-tela);
  display: flex;
  color: var(--preto);
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  min-height: 550px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

.tela_tv img{
  height: 400px;
  width: 300px;
  object-fit: cover;
  margin: 20px;
  object-position: center 40%;
  border-radius: 20px;
}

.base {
  width: 900px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.pe_tv {
  width: 60px;
  height: 100px;
  background-color: var(--cor-tablet);
}

.base_tv {
  width: 400px;
  height: 40px;
  background-color: var(--cor-tablet);
  border-radius: 20px;
  margin-top: -20px;
}

.tablet_deitado_2{
  width: 800px;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

.tela_deitado_2{
  background-color: var(--cor-tela);
  color: var(--preto);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 400px;
  height: auto;
  width: 700px;
  font-size: 20px;
  align-items: center;
  text-align: justify;
  margin: 0 20px auto;
}

.tela_deitado_2 img{
  height: 300px;
  border-radius: 30px;
  margin: 20px;
}

.tablet_4 {
  width: 800px;
  margin: 30px auto;
  background-color: var(--cor-tablet);
  border-radius: 30px;
  padding: 20px;
  position: relative;
}

.tela_4 {
  background-color: var(--cor-tela);
  color: var(--preto);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-height: 600px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

.tela_4 p{
  text-align: justify;
}

.tela_4 img{
  height: 300px;
  width: 250px;
  object-fit: cover;
  object-position: center 40%;
  border-radius: 20px;
}

.notebook {
  width: 800px;
  margin: 50px auto;
  text-align: center;
}

.tela_notebook {
  background: var(--cor-tablet);
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.conteudo {
  background: var(--cor-tela);
  padding: 10px;    
  min-height:400px;
  height:auto;
  color: var(--preto);
  text-align: justify;
}

.quiz {
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.resposta {
  display: block;
  background: var(--cor-botao);
  margin: 8px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.resposta:hover {
  background: var(--cor-cabecalho);
}

.botao_quiz {
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border: solid 3px var(--cor-cabecalho);
  border-color: var(--cor-cabecalho);
}

.botao_quiz:hover{
  background-color: var(--cor-botao);
}

.base_notebook {
  background: var(--cor-tablet);
  padding: 30px;
  width: 780px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 0 0 20px 20px;
  transform: perspective(500px) rotateX(20deg);
}

.teclado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tecla {
  width: 60px;
  height: 30px;
  background: var(--cor-tela);
  border-radius: 8px;
}

.tecla.grande {
  width: 200px;
  height: 40px;
}

footer{
  height: 200px;
  background-color: var(--cor-rodapé);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer img{
  width: 180px;
}

footer h3{
  width: 800px;
}

body.modo-escuro{
  background: #1a1a1a;
  color: white;
}

body.modo-escuro header{
  background-color: var(--cor-tablet);
}

body.modo-escuro footer{
  background-color: var(--cor-tablet);
}

body.modo-escuro .tela,
body.modo-escuro .tela_2,
body.modo-escuro .tela_3,
body.modo-escuro .tela_4,
body.modo-escuro .tela_tv,
body.modo-escuro .tela_deitado,
body.modo-escuro .tela_deitado_2,
body.modo-escuro .conteudo,
body.modo-escuro .celular_tela{
  background-color: var(--cor-tablet);
  color: var(--branco);
}

body.modo-escuro .tablet,
body.modo-escuro .tablet_2,
body.modo-escuro .tablet_4,
body.modo-escuro .tablet_deitado,
body.modo-escuro .tablet_deitado_2,
body.modo-escuro .tv, 
body.modo-escuro .base_tv, 
body.modo-escuro .pe_tv,
body.modo-escuro .tela_notebook,
body.modo-escuro .celular, 
body.modo-escuro .base_notebook {
    background-color: var(--preto);
}

body.modo-escuro .resposta{
  background-color: #555;
  color: var(--branco);
}

body.modo-escuro nav a{
  color: var(--branco);
}

img{
  max-width: 100%;
  height: auto;
}

/* RESPONSIVIDADE */
@media (max-width: 768px){

  header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:15px 10px;
    height:auto;
    gap:15px;
  }

  header div{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    width:100%;
  }

  header h1{
    font-size:2rem;
    padding-left:10px;
  }

  header .img_colmeia{
    display: none;
  }

  .img_colmeia{
    width:55px;
  }

  nav{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
    width:100%;
  }

  nav a{
    margin:0;
    font-size:18px;
  }

  .idioma_botao{
    font-size:18px;
    padding:5px;
  }

  .idioma_google {
  position: absolute;
  right: 10vw;
  top: 13vw;
  padding: 5px;
  margin-top: 100px;
  width: 80%;
}

  .fonte-btn,
  .tema-btn{
    padding:8px 12px;
    margin:0;
  }

  .banner img{
    width: 90%;
    height: auto;
  }

  .tablet,
  .tablet_2,
  .tablet_4,
  .tablet_deitado,
  .tablet_deitado_2,
  .tv,
  .notebook,
  .celular{
    width: 80%;
  }

  .tela,
  .tela_3,
  .tela_4{
    height: auto;
  }

  .tela_2,
  .tela_tv,
  .tela_deitado,
  .tela_deitado_2{
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .camera_tablet_deitado, .controles_tablet_deitado{
  display: none;
  }

  .tela_2{
    padding: 15px;
  }

  .tela_2 p{
    width: auto;
    padding: 0;
    text-align: left;
  }

  .celulares{
    flex-direction: column;
    margin: 10px;
  }

  .celular{
    margin: 15px auto;
    width: auto;
  }

  .celular_tela{
    height: auto;
  }

  .tela_tv img,
  .tela_2 img,
  .tela_deitado img,
  .tela_deitado_2 img{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px auto;
  }

  .base{
    display: none;
  }

  .quiz{
    width: 95%;
    box-sizing: border-box;
  }

  .conteudo{
    height: auto;
    min-height: 400px;
  }

  .notebook{
    width: 80%;
  }

  .base_notebook{
    width: 85vw;
    margin-left: -10px;
    margin-top: -25px;
    box-sizing: border-box;
  }

   footer{
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
  }


  footer h3{
    width: auto;
  }

  footer img{
    width: 200px;
  }
}
